In [1]:
import pandas as pd

### Actors and Directors Who Cooperated At Least Three Times

Table: ActorDirector
   

| Column Name | Type |
|-------------|------|
| actor_id    | int  |
| director_id | int  |
| timestamp   | int  |

timestamp is the primary key column for this table.
 

Write a SQL query for a report that provides the pairs (actor_id, director_id) where the actor have cooperated with the director at least 3 times.

Example:

ActorDirector table:  
 
| actor_id    | director_id | timestamp   |  
|---------------------------------------|  
| 1           | 1           | 0           |  
| 1           | 1           | 1           |  
| 1           | 1           | 2           |  
| 1           | 2           | 3           |  
| 1           | 2           | 4           |  
| 2           | 1           | 5           |  
| 2           | 1           | 6           |  


Result table:  
 
| actor_id    | director_id |  
|--------------------------|  
| 1           | 1           |  
  
The only pair is (1, 1) where they cooperated exactly 3 times.

In [ ]:
# SQL:
# SELECT actor_id AS ACTOR_ID, director_id AS DIRECTOR_ID
# FROM ActorDirector
# GROUP BY actor_id, director_id
# HAVING(COUNT(timestamp)>=3)

In [171]:
# Create the sample table
ActorDirector = pd.DataFrame({'actor_id':[1, 1, 1, 1, 1, 2, 2],
                 'director_id':[1, 1, 1, 2, 2, 1, 1],
                'timestamp':[0, 1, 2, 3, 4, 5, 6]})

ActorDirector.head()

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4

In [173]:
# groupby 'actor_id' and 'director_id', 
# counting the number of elements per group, 
# reseting the index to remove the nested columns 
temp1 = ActorDirector.groupby(by=['actor_id', 'director_id']).count().reset_index()

# filter: keep groups who have more than 2 instances,
# display the output
grouped = temp1.loc[temp1.timestamp>=3, ['actor_id', 'director_id']]
grouped

   actor_id  director_id
0         1            1